<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">stock</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngIf="infoDTO">
    <ion-card-header>
      <ion-card-title>Stock Name</ion-card-title>
      <ion-card-subtitle>Symbol : {{infoDTO.stock.stockSymbol}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Current Price :{{infoDTO.stock.currentPrice}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Target Price :{{infoDTO.stock.targetPrice}}</ion-label>
        </ion-item>
        <ion-item *ngIf=" infoDTO.stock.own == true ">
          <ion-label>Current Price :{{infoDTO.stock.boughtPrice}}</ion-label>
        </ion-item>      
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="infoDTO.alertDTOList.length > 0">
    <ion-card-header>
      <ion-card-title>Alert Triggered</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let alert of infoDTO.alertDTOList">
        <ion-item>
          <ion-grid></ion-grid>
          <ion-label> :{{infoDTO.stock.currentPrice}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Target Price :{{infoDTO.stock.targetPrice}}</ion-label>
        </ion-item>
        <ion-item *ngIf=" infoDTO.stock.own == true ">
          <ion-label>Current Price :{{infoDTO.stock.boughtPrice}}</ion-label>
        </ion-item>      
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="infoDTO.alerts">
    <ion-card-header>
      <ion-card-title>Alerts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let alert of infoDTO.alerts">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col >Alert Type : {{alert.alertType}}   </ion-col>
              <ion-col size="auto"><ion-toggle [checked]=" alert.active "></ion-toggle></ion-col>
            </ion-row>
            <ion-row *ngIf=" alert.alertType == 'PERCENT' ">
              Percent : {{alert.percent}} 
            </ion-row>
            <ion-row *ngIf=" alert.alertType == 'TARGET' ">Target : {{alert.lowerlimit}} : {{alert.upperlimit}}</ion-row>
            <ion-row>
              <ion-label *ngIf=" infoDTO.stock.own == true ">Bought Price :{{infoDTO.stock.boughtPrice}}</ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-button fill="clear">Edit</ion-button>
          <ion-button fill="clear">Delete</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-button id="addAlert" (click)="openModal()">Add</ion-button>
    
  </ion-card>
  <!-- <app-stock-alert-modal currentPrice="{{infoDTO.stock.currentPrice}}" 
  stockSymbol="{{infoDTO.stock.stockSymbol}}" 
  >
  </app-stock-alert-modal> -->


</ion-content>



