<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list lines="full" [inset]="true" *ngFor="let infoDTO of infoDTOList">
            
      <ion-item *ngIf=" infoDTO.stock.own == true ">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <ion-col>
                  <ion-row><ion-label><h3>DOL.TO - DOLLARAMA </h3></ion-label></ion-row>
                  <ion-row><ion-label><h3>2 units</h3></ion-label></ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-row>
                        <ion-label><h4>Current Price</h4></ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label>{{infoDTO.stock.currentPrice}}</ion-label>
                      </ion-row>
                    </ion-col>
                    <ion-col>
                      <ion-row>
                        <ion-label><h4>Target Price</h4></ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label>45.50</ion-label>
                      </ion-row>
                    </ion-col>
                    <ion-col>
                      <ion-row>
                        <ion-label><h4>Bought Price</h4></ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label>35.50</ion-label>
                      </ion-row>
                    </ion-col>          
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-row>
                        <ion-label>Current</ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label>77</ion-label>
                      </ion-row>
                    </ion-col>
                    <ion-col>
                      <ion-row>
                        <ion-label>Target</ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label>91</ion-label>
                      </ion-row>
                    </ion-col>
                    <ion-col>
                      <ion-row>
                        <ion-label>Total</ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label>75</ion-label>
                      </ion-row>
                    </ion-col>          
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ion-row >
                <div class="actionRowTitle">
                  <ion-label>
                    ACTION
                  </ion-label>
                </div>
              </ion-row>
              <ion-row>
                <div class="actionRowAction">
                  <ion-label>
                    SELL
                  </ion-label>
                </div>
              </ion-row>
            </ion-col>
          </ion-row>
          
          
          
        </ion-grid>
      </ion-item>

     


      <ion-item *ngIf=" infoDTO.stock.own == false ">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <ion-col>
                  <ion-row><ion-label><h3>{{infoDTO.stock.stockSymbol}} - StockName</h3></ion-label></ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-row>
                        <ion-label><h4>Current Price</h4></ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label>{{infoDTO.stock.currentPrice}}</ion-label>
                      </ion-row>
                    </ion-col>
                    <ion-col>
                      <ion-row>
                        <ion-label><h4>Target Price</h4></ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label>{{infoDTO.stock.targetPrice}}</ion-label>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                  
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ion-row >
                <div class="actionRowTitle">
                  <ion-label>
                    ACTION
                  </ion-label>
                </div>
              </ion-row>
              <ion-row>
                <div class="actionRowAction">
                  <ion-label >
                    BUY
                  </ion-label>
                </div>
              </ion-row>
            </ion-col>
          </ion-row>
          
          
          
        </ion-grid>
      </ion-item>
      
      
    </ion-list>
    
  </div>
  
</ion-content>
